@model LibraryApp.Data.ViewModels.BookPurchaseVM
<p class="card-text">
    <small class="text-muted">CAD sample: 4012000033330729  </small>
    <a href=https://developers.braintreepayments.com/guides/credit-cards/testing-go-live/dotnet
        target="_blank">Credit card samples</a>
</p>
<section>
    <div class="bt-drop-in-wrapper">
        <div id="bt-dropin"></div>
    </div>
</section>
@Html.HiddenFor(n => n.Nonce, new { @id = "nonce" })
<hr />
<button class="btn btn-success" type="submit"><span>Confirm payment - $@Model.Price</span></button>

<script src="https://js.braintreegateway.com/web/dropin/1.22.0/js/dropin.min.js"></script>
<script>
    var client_token = "@ViewBag.ClientToken";
    var form = document.querySelector('#payment-form');

    braintree.dropin.create({
        authorization: client_token,
        container: '#bt-dropin',
        paypal: {
            flow: 'vault'
        }
    }, function (createErr, instance) {
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            instance.requestPaymentMethod(function (err, payload) {
                if (err) {
                    //handle error here
                    return;
                }
                console.log("Payload.Nonce = ", payload.nonce);
                document.querySelector('#nonce').value = payload.nonce;
                form.submit();
            });
        });
    });
</script>